<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<a href="{% url 'index' %}">トップ</a>
{{ username }}


<div class="row">
    <div>
        <table class="table table-warning table-hover table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">タイトル</th>
                    <th scope="col">タグ</th>
                </tr>
            </thead>
            {% if borrowed_books %}
            <form method="post" action="{% url 'return_books' %}">
                {% csrf_token %}
                {% for book in borrowed_books%}
                <tbody>
                    <tr>
                        <td>
                            <input type="checkbox" name="return_checkbox" value="{{ book.id }}">
                        </td>
                        <td>
                            {{book.title}}
                        </td>
                        <td>{% for tag in book.tags.all %}{{ tag.name }}{% endfor %}</td>
                        </tr>
                </tbody>
                {% endfor %}
                <button type="submit">返却</button>
            </form>
            {% else %}
            <p>本を借りていません</p>
            {% endif %}
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>